@import "@aws-amplify/ui-react/styles.css";

.ButtonLogOut{
    background-color: aqua;
    display: flex;
    justify-content: end-
}
input{
    
    border: 2px solid;
    background-color:white
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    
}
